.fullScreen {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: block;
}

#buttons {
  position: absolute;
  top: 0px;
  left: 0px;
  border : 1px solid #000;
  border-radius: 5px;
  background-color: #aaa;
  z-index: 100;
  padding: 5px 5px 5px 10px;
  margin: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

#helpText {
  display: none;
  color: #000;
  z-index: 300;
}

input[type=button] {
  margin-right: 10px;
}

#selectionLayer {
  display: none;
  background-color: rgba(240, 240, 240, 0.4);
  z-index: 200;
}

#hierarchicalOptions_direction, #hierarchicalOptions_sortmethod {
  display: none;
  margin-left: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

