<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src cspSource; style-src cspSource; script-src 'nonce-nonce';">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="showHierarchy.css" rel="stylesheet">
  <link href="all.min.css" rel="stylesheet">
  <link href="vis-network.min.css" rel="stylesheet">
  
  <script type="text/javascript" src="vis-network.min.js"></script>

</head>

<body>
  <div id="buttons">
    <div class="dropdown">
      <button id="saveAsButton" ><i class="fas fa-file-download"></i> Save as ...</button>
      <div class="dropdown-content">
        <a href="#" id="saveAsPngButton"><i class="fas fa-file-image"></i> Save as Png</a>
        <a href="#" Id="saveAsDgmlButton"><i class="fas fa-file-code"></i> Save as Dgml</a>
        <a href="#" Id="saveAsDotButton"><i class="fas fa-project-diagram"></i> Save as Dot</a>
      </div>
    </div>
    <button id="regenerateGraphButton" title="Regenerate the graph"><i class="fas fa-sync"></i></button>
    <button id="saveSelectionAsPngButton"><i class="fas fa-file-download"></i> Save selection as png</button>
    <div id="hierarchical">Change layout:<input type="checkbox" id="showHierarchicalOptions"></div>
    <div id="hierarchicalOptions_direction">
      Direction: <select id="direction">
        <option value="UD">Up-Down</option>
        <option value="DU">Down-Up</option>
        <option value="LR">Left-Right</option>
        <option value="RL">Right-Left</option>
        <option value="Random" selected>Random</option>
      </select>
    </div>
    <div id="hierarchicalOptions_sortmethod">
      Sort method: <select id="sortMethod">
        <option value="hubsize">Hub size</option>
        <option value="directed">Directed</option>
      </select>
    </div>
    <div id="helpText">Click and drag to select the area to be saved.</div>
  </div>
  <div id="selectionLayer" class="fullScreen"><canvas id="captureCanvas"></canvas></div>
  <div id="network" class="fullScreen"></div>
  <script type="text/javascript" src="showHierarchy.js"></script>
</body>

</html>